.signup-container {
  width: 500px;
  border: 1px solid rgb(235, 234, 234);
  padding: 10px 0;
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 10px rgb(237, 237, 237);
}

.line {
  height: 2px;
  background-color: rgb(78, 78, 78);
  width: 100px;
}
.paralal-line {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: space-around;
}

.external-signup img {
  width: 30px;
}
.external-signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #fffffffa;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px 0;
}

.creat-account span {
  font-size: 20px;
  font-weight: 600;
}
