body {
  background-color: azure;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.web-title {
  color: blueviolet;
}
.web-title a {
  text-decoration: none;
  color: blueviolet;
}
.nevber {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nevber a {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(44, 121, 121);
  font-weight: 700;
}
.logout {
  margin-left: 20px;
  color: rgb(44, 121, 121);
  font-weight: 700;
  font-size: 16px;
  border: 0;
}

.nevber a:hover {
  color: rgb(56, 87, 241);
}
