.banner {
  width: 80%;
  margin: 0 auto;
  background-image: url("https://i.ibb.co/k6wpL0q/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 25px 5px 8px rgb(0, 0, 0);
  text-indent: 20px;
}

.banner-text {
  top: 100px;
  width: 50%;
  margin: 20px;
  text-align: center;
}
.banner-text h3 {
}
.detail-btn {
  padding: 10px 40px;
  border: 0px;
  border-radius: 15px;
  background-color: rgb(19, 187, 67);
  color: white;
}
